.container {
	margin: 20px 0;

	.option_img {
		text-align: center;
		padding: 5px;

		.img {
			border-radius: 8px;
		}
	}

	.options {
		.option {
			.row {
				display: flex;
				justify-content: space-between;
				padding: 10px 5px;

				.title {
					font-weight: bold;
					font-size: 14px;
				}

				.desc {
					text-align: right;
				}

				&:nth-child(even) {
					background-color: rgb(235, 231, 231);
				}
			}

			.total {
				.desc {
					p {
						padding-bottom: 5px;
					}
				}
			}
		}
	}
}

.highlight {
	-webkit-box-shadow: 0px 0px 25px -8px rgba(221, 135, 135, 1);
	-moz-box-shadow: 0px 0px 25px -8px rgba(221, 135, 135, 1);
	box-shadow: 0px 0px 25px -8px rgba(221, 135, 135, 1);
    padding: 5px;
}


