$text: rgb(70, 68, 68);

.feedback {
	width: 100%;
	color: $text;

	.container {
		justify-content: center;
		padding: 20px;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		font-size: 16px;

		.feed {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			padding: 15px;
			background-color: rgb(224, 228, 226);
			border-radius: 8px;

			.name {
				font-weight: 600;
				margin: 0 auto;
				padding: 5px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.feedback {
		.container {
			padding: 40px;
			font-size: 22px;

			.feed {
				.name {
					padding: 10px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.feedback {
		.container {
			padding: 50px;
			font-size: 24px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.feedback {
		.container {
			padding: 50px 150px 0 150px;
			font-size: 16px;
			line-height: 40px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.feed {
				margin: 10px;
				padding: 25px;

				.name {
					padding: 0;
				}
			}
		}
	}
}
