.feedback {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;

	.container {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

		.feed {
			display: flex;
			flex-direction: column;
			font-size: 12px;
			margin: 10px 20px;
			padding: 15px;
			background-color: rgb(224, 228, 226);
			border-radius: 8px;

			.name {
				font-weight: 600;
				margin: 0 auto;
				padding: 5px;
			}
		}
	}
}

@media only screen and (min-width: 414px) {
	.feedback {
		padding: 30px;

		.container {
			margin-top: 30px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.feedback {
		.container {
			.feed {
				font-size: 24px;
				margin: 20px 40px;
				padding: 25px;

				.name {
					padding: 10px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.feedback {
		padding: 40px;
		.container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			.feed {
				font-size: 16px;
				margin: 20px 40px;
				padding: 25px;

				.name {
					padding: 0;
				}
			}
		}
	}
}
