.exam {
	color: rgb(97, 100, 99);
	padding: 20px;
	font-size: 14px;

	.exam_offer {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {
			margin: 10px 0;
		}

		.exam_list {
			margin-left: 10px;
		}
	}

	.bold {
		font-weight: bold;
	}
}

@media only screen and (min-width: 768px) {
	.exam {
		font-size: 24px;
		padding: 40px;

		&_list {
			margin: 20px 0;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.exam {
		font-size: 26px;
		padding: 50px;

		&_list {
			margin: 30px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.exam {
		font-size: 22px;
		padding: 40px;
		margin: 0 150px 0 150px;

		&_list {
			margin-bottom: 150px;
		}
	}
}
