$primary-color: rgb(190, 209, 209);

.youngest {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;

	.desc {
		text-align: center;
		color: rgb(97, 100, 99);
	}

	.packages {
		.package {
			background-color: rgb(190, 209, 209);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 5px;
			border-radius: 15px;
			padding: 10px;

			.title {
				background-color: rgb(15, 63, 63);
				color: rgb(190, 209, 209);
				font-weight: bold;
				border-radius: 50%;
				padding: 10px;
				margin-bottom: 5px;
			}

			.desc {
				p {
					padding: 0;
					margin: 5px;
					color: rgb(97, 100, 99);
				}
			}
		}
	}
	.info {
		margin: 15px 0 20px 0;
		color: rgb(97, 100, 99);
		font-size: 12px;
		display: flex;

		.text {
			margin: 0 0 0 5px;
		}
	}
}

@media only screen and (min-width: 360px) {
	.youngest {
		.info {
			margin-top: 30px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.youngest {
		.desc {
			font-size: 24px;
		}

		.packages {
			display: flex;

			.package {
				padding: 15px;

				.title {
					font-size: 24px;
				}
			}
		}
		.info {
			font-size: 20px;
			padding: 20px;

			.text {
				margin: 0 0 0 20px;
			}

			.icon {
				font-size: 30px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.youngest {
		.packages {
			.package {
				margin: 20px;
			}
		}
		.info {
			font-size: 22px;
			padding: 30px;

			.icon {
				font-size: 42px;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.youngest {
		.info {
			align-items: center;
		}
	}
}
