$primary-color: rgb(190, 209, 209);

.youngest {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	font-size: 14px;
	color: rgb(97, 100, 99);

	.bold {
		font-weight: bold;
	}

	.youngest_desc {
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	.youngest {
		font-size: 24px;
		padding: 25px;
	}
}

@media only screen and (min-width: 1200px) {
	.youngest {
		font-size: 22px;
		
		.youngest_desc {
			display: flex;
			justify-content: center;
			align-items: center;
			.desc_element {
				width: 550px;
				height: 150px;

				.img {
					height: 90px;
				}
			}
		}
	}
}
