.home_mobile {
	margin: 20px;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(195, 195, 159);

	.home_headline,
	.home_headline-secondary,
	p {
		font-weight: bold;
		color: aliceblue;
		margin: 0;
		padding: 0;
	}

	.arrow_icon {
		svg {
			color: aliceblue;
			font-size: 46px;
		}
	}

	.home_headline-secondary {
		font-size: 16px;
	}

	p {
		font-weight: 400;
		padding-top: 10px;
	}

	.time {
		font-size: 14px;
		display: flex;
		align-items: center;
		padding-top: 10px;
		color: aliceblue;

		.left_wing,
		.right_wing {
			display: inline-block;

			svg {
				color: aliceblue;
				font-size: 32px;
			}
		}
	}
}

.home_boxes_mobile {
	margin: 20px;

	.wrapper {
		.box_container {
			margin-top: 20px;

			.box_img {
				z-index: -10;
			}
		}
	}
}

.home_desktop {
	display: none;
}

@media only screen and (min-width: 414px) {
	.home_mobile {
		margin: 80px 40px 0 40px;
		padding: 40px;
	}
}

@media only screen and (min-width: 768px) {
	.home_mobile {
		margin: 80px;

		.arrow_icon {
			svg {
				font-size: 62px;
			}
		}

		.home_headline-secondary,
		p,
		.time {
			font-size: 24px;
		}
	}

	.home_boxes_mobile {
		display: flex;
		justify-content: center;
		margin: 0 0 50px 0;
	}
}

@media only screen and (min-width: 1024px) {
	.home_mobile {
		margin: 100px;
		padding: 60px;

		.home_headline-secondary,
		p,
		.time {
			font-size: 28px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.home_mobile {
		display: none;
	}

	.home_boxes_mobile {
		display: none;
	}

	.home_desktop {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.home_boxes {
			margin-top: 15px;

			.wrapper {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				padding: 20px 20px 40px 20px;

				.box_container {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					flex: 1;
					margin: 20px;
				}
			}
		}
	}
}
