$green: rgb(71, 77, 74);
$text: #262927;
$coral: rgb(153, 41, 41);

.home {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.home_headline,
	.home_headline-secondary {
		font-weight: bold;
		margin: 0;
		padding: 0;
		color: $green;
	}

	.home_headline-secondary {
		font-size: 16px;
		padding: 5px;
	}

	.home_description {
		color: $text;
		.welcome {
			.img {
				img {
					border-radius: 8px;
					border-top-left-radius: 50%;
					border-bottom-right-radius: 25%;
					z-index: -1;
				}
			}

			.img_desktop {
				display: none;
			}

			.description {
				margin: 20px 0;

				.green {
					color: $green;
					font-weight: bold;
				}

				.headline_desktop {
					display: none;
				}
			}
		}

		.banner {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;

			.text {
				color: $coral;
				text-align: center;
				font-weight: bold;
				margin: 30px 0;
			}

			.icon {
				color: $coral;
				font-weight: bold;
				font-size: 32px;
				padding: 0 5px 0 5px;
			}
		}

		.advantages {
			&_h2 {
				font-weight: bold;
				margin-bottom: 10px;
			}

			ul {
				padding: 0 20px 20px 20px;
			}

			ul li {
				margin: 20px 0;
				list-style-type: circle;
				text-align: left;
			}
		}

		.bullets {
			&_header {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				margin-bottom: 10px;
			}
			ul {
				padding: 0 20px 20px 20px;
			}

			ul li {
				margin: 20px 0;
				list-style-type: circle;
				text-align: left;

				a {
					color: $coral;
					text-decoration: none;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.home {
		padding: 40px;
		font-size: 22px;

		.home_headline-secondary {
			font-size: 26px;
		}

		.home_description {
			display: flex;
			flex-direction: column;
			align-items: center;

			.welcome {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.img {
					width: 50%;
				}
			}
		}

		.bullets {
			&_header {
				.icon {
					font-size: 32px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.home {
		padding: 50px;
		font-size: 24px;

		.home_headline-secondary {
			font-size: 34px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.home {
		padding: 80px 150px 0 150px;
		font-size: 16px;
		line-height: 40px;

		&_headline,
		&_headline-secondary {
			display: none;
		}

		.home_description {
			.welcome {
				flex-direction: row-reverse;

				.img {
					display: none;
				}

				.img_desktop {
					display: flex;
					flex: 1;
					margin-left: 15px;

					img {
						border-radius: 8px;
						border-top-left-radius: 50%;
						border-bottom-right-radius: 25%;
						z-index: -1;
					}
				}

				.description {
					flex: 1.8;

					.headline_desktop {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;

						.primary {
							font-size: 36px;
							font-weight: bold;
							color: $green;
						}

						.secondary {
							padding: 5px 5px 25px 5px;
							color: $green;
							font-size: 34px;
						}
					}
				}
			}
			.banner {
				.text,
				.icon {
					line-height: 15px;
				}
			}
			.bullets {
				ul li {
					list-style-type: none;
					text-align: center;
				}
			}
		}
	}
}
