$primary-color: rgb(15, 63, 63);
$primary-color-dark: rgb(11, 45, 45);
$secondary-color: rgb(192, 168, 31);
$primary-color-dark: rgb(8, 31, 31);
$gray-color: gray;
$gray-color-dark: rgb(101, 99, 99);

@use "./oferta/dla-najmlodszych/youngest.scss";
@use "./oferta/dla-doroslych/adults.scss";
@use "./oferta/certyfikat/certificate.scss";
@use "./oferta/egzamin/exam.scss";
@use "./../components/packages.scss";
@use "./opinie/feedback.scss";
@use "../components/footer/footer.scss";
@use "../components/navigation/nav.scss";
@use "../app/cennik/prices.scss";
@use "../app/kontakt/contact.scss";
@use "../app/tlumaczenia/translations.scss";
@use "../app/lektorzy/teachers.scss";


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 22px;
	color: $secondary-color;
	padding: 20px;
	text-align: center;
}

h2 {
	font-size: 18px;
	color: $secondary-color;
	padding: 20px;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
		margin-top: 60px;
	}
}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 28px;
	}
}
