$headline-color: rgb(192, 168, 31);

@use "./../components/offer/packages.scss";
@use "./opinie/feedback.scss";
@use "../components/footer/footer.scss";
@use "../app/cennik/prices.scss";
@use "../app/kontakt/contact.scss";
@use "../app/tlumaczenia/translations.scss";
@use "../app/lektorzy/teachers.scss";
@use "../components/home/home.scss";
@use "../components/navigation/navigation.scss";
@use "../app/materialy/niemiecki/german.scss";
@use "../app/oferta/offer.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 22px;
	color: $headline-color;
	text-align: center;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	color: $headline-color;
	text-align: center;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px;
	}
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}
}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 32px;
	}
}
