.packages {
	.packages_container {
		margin-top: 30px;

		.package {
		background-color: rgb(190, 209, 209);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 5px;
		border-radius: 15px;
		padding: 10px;

		.package_title {
			background-color: rgb(15, 63, 63);
			color: rgb(190, 209, 209);
			font-weight: bold;
			border-radius: 50%;
			padding: 10px;
			margin-bottom: 5px;
		}

		.package_desc {
			p {
				padding: 0;
				margin: 5px;
				color: rgb(97, 100, 99);
				text-align: center;
			}
		}
	}
	}
}

@media only screen and (min-width: 768px) {
	.packages {
		margin-bottom: 40px;
		.packages_container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.package {
				padding: 15px;

				.package_title {
					font-size: 24px;
				}

				.package_desc {
					p {
						font-size: 24px;
						text-align: center;
					}
				}
			}
		}
	}
}
