.certificate {
	padding: 20px;

	.certificate_offer {
		color: rgb(97, 100, 99);
		margin-top: 30px;
	}
}

@media only screen and (min-width: 768px) {
	.certificate {
		.certificate_offer {
			padding: 40px;
			font-size: 24px;

			.bold {
				font-weight: bold;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.certificate {
		.certificate_offer {
			margin-bottom: 150px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.certificate {
		padding: 40px;
		margin: 0 150px 0 150px;
		
		.certificate_offer {
			font-size: 22px;
		}
	}
}
