.navlinks_desktop {
	display: none;

	.list_container {
		position: absolute;
		display: hidden;

		.arrow {
			padding: 15px 0;

			.up {
				width: 16px;
				height: 16px;
				left: 12px;
				position: absolute;
				margin-top: 10px;
				transform: rotate(45deg);
				background-color: white;
			}
		}

		.list_container-sec {
			background-color: white;
			border-radius: 15px;
			min-width: 190px;

			.mainlink_subtitle {
				font-size: 20px;
				padding: 20px 0 0 20px;
				font-weight: bold;
			}

			.mainlink_list {
				padding: 20px;

				.item {
					font-size: 20px;
					padding-top: 10px;
				}
			}
		}
	}
}

.navlinks_mobile {
	.mobile_dropdown {
		margin: 15px;

		.mainlink_subtitle {
			font-size: 20px;
			font-weight: bold;
			color: rgb(147, 143, 147);
		}

		.mainlink_list-mobile {
			.item {
				font-size: 20px;
				margin-top: 5px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.navlinks_mobile {
		.mobile_dropdown {
			.mainlink_subtitle {
				font-size: 28px;
				margin-left: 20px;
			}

			.mainlink_list-mobile {
				.item {
					font-size: 28px;
					margin-top: 5px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.navlinks_desktop {
		display: block;

		.list_container {
			.list_container-sec {
				.mainlink_list {
					.item {
						&:hover {
							color: rgb(124, 121, 124);
						}
					}
				}
			}
		}
	}

	.navlinks_mobile {
		display: none;
	}
}
