$primary-color: rgb(15, 63, 63);
$gray-color: gray;
$gray-color-dark: rgb(101, 99, 99);
$primary-color-dark: rgb(11, 45, 45);

.nav-btn {
	background: transparent;
	border: none;
	color: $gray-color;
	font-size: 32px;
	cursor: pointer;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: $primary-color;
	color: $gray-color;

	.mobileNavDropdown {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: $primary-color;
		transition: 1s;

		a {
			color: $gray-color;
			text-decoration: none;
			font-size: 22px;
			font-weight: bold;
		}

		.nav-close-btn {
			position: absolute;
			top: 2rem;
			right: 2rem;
		}
	}

	.active {
		transform: translateY(100vh);
	}
}
