$primary-color: rgb(242, 172, 198);
$text: rgb(147, 143, 147);

nav {
	background-color: $primary-color;

	.nav_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px;
		flex-direction: column;
		height: 90px;

		.logo_container {
			z-index: 50;
			padding: 5px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				cursor: pointer;
			}

			.burger_btn {
				svg {
					font-size: 42px;
					color: $text;
				}
			}
		}

		.navlist {
			align-items: center;
			color: $text;
			margin: 0;
			display: none;
			gap: 20px;

			li,
			.mainlink_title {
				font-weight: bold;
				cursor: pointer;
				list-style-type: none;

				a {
					color: $text;
				}
			}
		}

		.navlist_mobile {
			background-color: $primary-color;
			position: absolute;
			top: 90px;
			left: 0;
			width: 100%;
			transition: 0.5s;
			padding-bottom: 50px;

			li,
			.mainlink_title {
				font-size: 24px;
				font-weight: bold;
				list-style-type: none;
				color: $text;

				a {
					color: $text;
				}
			}
		}

		.left0 {
			left: 0;
		}

		.left100 {
			left: -100%;
		}
	}
}

@media only screen and (min-width: 390px) {
	nav {
		.navlist_mobile {
			height: 100vh;
		}
	}
}

@media only screen and (min-width: 768px) {
	nav {
		.nav_container {
			height: auto;
			padding: 15px;

			.logo_container {
				.burger_btn {
					svg {
						font-size: 62px;
					}
				}
			}

			.navlist_mobile {
				padding: 50px 0 0 50px;

				li,
				.mainlink_title {
					font-size: 36px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	nav {
		.nav_container {
			flex-direction: row;

			.logo_container {
				.burger_btn {
					display: none;
				}
			}
			.navlist {
				display: flex;

				li,
				.mainlink_title {
					font-size: 24px;
				}
			}

			.navlist_mobile {
				display: none;
			}
		}
	}
}
