$primary-color: rgb(242, 172, 198);
$text: rgb(147, 143, 147);

nav {
	background-color: $primary-color;

	.nav_container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			cursor: pointer;
		}

		.nav_ul_mobile {
			position: fixed;
			width: 100vw;
			top: 0;
			overflow-y: auto;
			bottom: 0;
			padding: 0 0 24px 4px;
			transition: left 0.3s ease-in-out;
		}

		.nav_ul_mobile-open {
			left: 0;
		}

		.nav_ul_mobile-closed {
			left: -100%;
		}
	}
}
