.list_container {
	position: absolute;
	display: none;

	.arrow {
		padding: 15px 0;

		.up {
			width: 16px;
			height: 16px;
			left: 12px;
			position: absolute;
			margin-top: 10px;
			transform: rotate(45deg);
			background-color: white;
		}
	}

	.list_container-sec {
		background-color: rgb(242, 172, 198);
		background-color: white;

		.mainlink_list {
			padding: 20px;

			.item {
				font-size: 18px;
				margin-top: 20px;
			}
		}
	}

	.list_container:hover {
		display: block;
	}
}
