$primary-color: #f2acc6;
$text: rgb(147, 143, 147);

@media only screen and (min-width: 1400px) {
	header {
		.desktop {
			a {
				text-decoration: none;
				font-size: 22px;
				font-weight: bold;
				color: $text;
				padding: 10px;
			}

			a:hover {
				color: rgb(135, 131, 135);
			}
		}
	}
}
