$text: rgb(147, 143, 147);

.bold {
	font-weight: bold;
}

.underline {
	text-decoration-line: underline;
}

.offer {
	color: $text;

	.offer_wrapper {
		padding: 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		h2 {
			color: $text;
			margin-top: 10px;
		}

		p {
			margin-top: 10px;
		}

		ul {
			padding: 20px;

			li {
				text-align: left;
			}
		}

		.marginTop {
			margin-top: 30px;
		}

		.offer_description {
			margin: 40px 0 20px 0;
			font-size: 14px;

			.img {
				border-radius: 8px;
			}

			.desc {
				margin-top: 10px;
				font-size: 16px;
			}
		}
	}

	.extraRoom {
		padding: 30px;
	}

	.left {
		text-align: left;
	}
}

@media only screen and (min-width: 360px) {
	.desc {
		font-size: 16px;
	}
}

@media only screen and (min-width: 768px) {
	.offer {
		font-size: 22px;

		.offer_img-mobile {
			display: none;
		}

		.offer_img-desktop {
			display: flex;
		}

		.offer_wrapper {
			padding: 40px;

			.offer_description {
				margin: 25px 0 25px 0;
				display: flex;
				justify-content: center;
				align-items: center;

				.main_img {
					float: left;
					padding-right: 20px;
				}

				.desc {
					text-align: justify;
					margin: 0;
					font-size: 22px;
				}
			}
		}
	}

	.extraRoom {
		padding: 50px;
	}
}

@media only screen and (min-width: 1024px) {
	.offer {
		.offer_img {
			img {
				width: 1024px;
				height: 250px;
			}
		}

		.offer_wrapper {
			.offer_description {
				margin: 20px;
				margin-top: 60px;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.offer_wrapper {
		margin: 0 350px 0 350px;
		.offer_description {
			.main_description {
				.main_img {
					.img {
						width: 250px;
						height: 280px;
					}
				}

			}
		}
	}
}
