@use "../../components/offer/offer_navbar.scss";
@use "../../components/offer/offer_img.scss";
@use "../../components/offer/advantages.scss";
@use "../../components/offer/offers.scss";
@use "../../components/offer/reminder.scss";

$text: rgb(70, 68, 68);

.offer {
	padding: 20px;
	color: $text;

	.title_wrapper {
		text-align: center;

		.title_desc {
			margin: 10px 0 50px 0;
		}

		.no_desc {
			margin-bottom: 50px;
		}
	}

	&_desc {
		text-align: center;
	}

	.desktop_image {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.offer {
		padding: 40px;
		font-size: 22px;

		&_desc {
			text-align: left;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.offer {
		padding: 50px;
		font-size: 24px;
	}
}

@media only screen and (min-width: 1200px) {
	.offer {
		padding: 80px 150px 0 150px;
		font-size: 16px;
		line-height: 40px;

		.wrapper {
			display: flex;
		}

		.desktop_image {
			display: flex;
			justify-content: space-between;
			margin: 40px 0;

			&_wrapper {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}
}
