.footer {
	margin-top: auto;
	padding: 20px 20px 40px 20px;
	font-size: 14px;
	background-color: rgb(224, 218, 218);
	box-shadow: 0 2px 2px 2px rgba(224, 216, 216, 0.9);
	color: rgb(38, 41, 39);
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		line-height: 25px;

		.icons {
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;

			.icon {
				padding: 15px;
				font-size: 24px;
				color: rgb(109, 99, 99);
			}
		}

		.text_container {
			.info {
				.title {
					font-weight: bold;
					margin-bottom: 10px;
				}

				a {
					text-decoration: none;
					color: rgb(38, 41, 39);
				}
			}

			.second_column {
				.company_data {
					margin-top: 20px;

					.title {
						font-weight: bold;
						margin-bottom: 10px;
					}
				}
				.sub_column {
					.nip_regon,
					.footer_contact {
						margin-top: 20px;

						a {
							text-decoration: none;
							color: rgb(38, 41, 39);
						}
					}
				}
			}
		}
	}

	&_year {
		margin-top: 40px;
	}
}

@media only screen and (min-width: 375px) {
	.footer {
		&_content {
			.icons {
				.icon {
					font-size: 28px;
					padding: 20px;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.footer {
		padding: 40px;
		font-size: 22px;

		&_content {
			line-height: 40px;

			.icons {
				.icon {
					font-size: 44px;
					padding: 30px;
				}
			}
		}

		&_year {
			margin-bottom: 60px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.footer {
		font-size: 14px;

		&_content {
			flex-direction: column;

			.icons {
				.icon {
					font-size: 26px;
				}
			}

			.text_container {
				display: flex;
				gap: 20px;
				
				.second_column {
					display: flex;
					flex-direction: row;
					gap: 50px;

					.company_data {
						margin-top: 0;
					}

					.sub_column {
						display: flex;
						flex-direction: column;

						.nip_regon {
							margin-top: 0;
						}
					}
				}
			}
		}
		&_year {
			margin-top: 80px;
			margin-bottom: 0;
		}
	}
}
