.footer {
	margin-top: auto;
	padding: 10px;
	font-size: 12px;
	background-color: rgb(224, 218, 218);
	box-shadow: 0 2px 2px 2px rgba(224, 216, 216, 0.9);
	color: rgb(99, 99, 95);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 768px) {
	.footer {
		font-size: 22px;
		padding: 40px;
	}
}

@media only screen and (min-width: 1200px) {
	.footer {
		font-size: 14px;
		padding: 15px;
	}
}
