.desc {
	margin-top: 10px;
	font-size: 16px;

	.advantages_desktop {
		display: none;
	}

	.company {
		ul li {
			padding: 5px;
		}
	}
}

@media only screen and (min-width: 360px) {
	.desc {
		font-size: 16px;
	}
}

@media only screen and (min-width: 768px) {
	.desc {
		text-align: justify;
		margin: 0;
		font-size: 22px;
	}
}

@media only screen and (min-width: 1200px) {
	.desc {
		font-size: 18px;
	}
}
