.packages {
	.packages_container {
		margin-top: 30px;

		.package {
			background-color: rgb(190, 209, 209);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 25px;
			border-radius: 15px;
			padding: 10px;

			.package_title {
				background-color: rgb(15, 63, 63);
				color: rgb(190, 209, 209);
				font-weight: bold;
				border-radius: 50%;
				padding: 10px;
				margin-bottom: 5px;
			}

			.package_desc {
				p {
					padding: 0;
					margin: 5px;
					color: rgb(97, 100, 99);
					text-align: center;
				}
			}
		}
	}

	.packages_list {
		margin-top: 35px;
		text-align: center;

		.packages_list_grammar {
			margin-top: 10px;
			display: inline-block;

			.grammar_item {
				list-style-type: circle;
				width: 150px;
				text-align: start;
			}
		}
	}
}

@media only screen and (min-width: 375px) {
	.packages {
		.packages_container {
			.package {
				margin: 15px 50px;
			}
		}

		.packages_list {
			.packages_list_grammar {
				.grammar_item {
					width: 200px;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.packages {
		margin-bottom: 40px;

		.packages_container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.package {
				padding: 15px;
				margin: 0 5px;

				.package_title {
					font-size: 24px;
				}

				.package_desc {
					p {
						font-size: 24px;
						text-align: center;
					}
				}
			}
		}

		.packages_list {
			.packages_list_grammar {
				.grammar_item {
					width: 350px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.packages {
		.packages_container {
			.package {
				margin: 15px;
			}
		}

		.packages_list {
			.packages_list_grammar {
				.grammar_item {
					width: 350px;
					margin-left: 200px;
				}
			}
		}
	}
}
