$coral: rgb(221, 135, 135);

.reminder {
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	color: $coral;


	&_desktop {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.reminder {
		padding: 40px 0;
	}
}

@media only screen and (min-width: 1200px) {
	.reminder_mobile {
		display: none;
	}

	.reminder_desktop {
		display: flex;
	}
}
