.contact {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 20px;
	color: gray;
	padding: 20px;

	.tel {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		.tel_icon,
		.tel_number {
			padding: 5px;
		}
	}

	.email {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;

		.email_icon,
		.email_address {
			padding: 5px;
		}

		.email_icon {
			display: flex;
		}
	}
}

@media only screen and (min-width: 768px) {
	.contact {
		font-size: 24px;
	}
}

@media only screen and (min-width: 1024px) {
	.contact {
		font-size: 28px;

		.tel {
			.tel_icon,
			.tel_number {
				padding: 10px;
			}
		}

		.email {
			.email_icon,
			.email_address {
				padding: 10px;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.contact {
		font-size: 22px;

		.tel {
			margin-top: 50px;
		}
	}
}
