.german {
	padding: 40px;
	display: flex;
	flex-direction: column;

	.german_container {
		margin-top: 30px;

		.text_container {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			.title {
				font-weight: bold;
				color: rgb(147, 143, 147);
				font-size: 20px;
				margin: 10px 0 20px 0;
			}

			.wrapper {

				.text {
					.paragraph {
						text-align: start;
						padding: 5px;
					}

					.bold {
						font-weight: bold;
					}

					.italic {
						font-style: italic;
					}

					.photos {
						.photo {
							margin-bottom: 15px;

							.desc {
								font-size: 14px;
							}

							.image {
								img {
									border-radius: 15px;
								}
							}
						}
					}
				}

				.legend {
					width: 100%;

					ul {
						list-style-type: none;
						font-size: 12px;
					}
				}
			}
		}
	}
}

.blue_text {
	color: rgb(26, 107, 237);
}
.green_text {
	color: rgb(31, 192, 31);
}

@media only screen and (min-width: 768px) {
	.german {
		.german_container {
			.text_container {
				.title {
					font-size: 24px;
				}

				.wrapper {
					.text {
						.paragraph {
							font-size: 22px;
							padding: 10px;
						}

						.photos {
							.photo {
								padding: 15px;
								.desc {
									font-size: 22px;
									margin-bottom: 15px;
								}
							}
						}
					}

					.legend {
						ul {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.german {
		margin: 0 400px 0 400px;

		.german_container {
			margin-top: 50px;

			.text_container {
				.title {
					font-size: 24px;
				}

				.wrapper {
					display: flex;


					.text {
						flex: 3;
						.paragraph {
							font-size: 16px;
						}

						.photos {
							display: flex;

							.photo {

								.desc {
									font-size: 16px;
								}
							}
						}
					}

					.legend {
						flex: 1;
						margin-left: 15px;

						ul {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
